APP_NAME=Krema
APP_ENV=local
APP_KEY=base64:LOXQsbDRoRMez7Qxrgv3gROj9kS0vLgis7cpYDo2hEU=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=baseline77

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE=false

CACHE_DRIVER=file
QUEUE_CONNECTION=database

BOOKING_REMINDER_MINUTES=60
DEFAULT_TIMEZONE=Europe/Sarajevo
FRONTEND_URL= http://localhost:5173

SANCTUM_STATEFUL_DOMAINS=karmafrontend.vercel.app

INFOBIP_API_KEY=
INFOBIP_BASE_URL=https://api.infobip.com
INFOBIP_SENDER=KREMA

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@krema.ba
MAIL_FROM_NAME=Krema

OPENAI_API_KEY=
STRIPE_KEY=
STRIPE_SECRET=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TOKEN=
